<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
    <nav>
      <ul>
        <li><a href="/circle">Circle</a></li>
        <li><a href="/triangle">Triangle</a></li>
      </ul>
    </nav>
    <h1>Circle Page</h1>
    <div>
        <form action="/circle" method="post">
            <div>
                <label>Radius :</label>
                <input type="text" name="radius" />
            </div>
            <button type="submit">Calculate</button>
        </form>
    </div>
  </body>
</html>
